* {
  color: #001E43;
}


*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}


body{
  background-image: url(../login-img/login-haikei.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.login{
  border:3px solid black;
  border-style: double;
  border-width: 10px;
  background: #fff;
}

.login{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 750px;
  height: 500px;
  text-align: center
}

h1{
  margin-top: 30px;
  font-size: 50px;
}



.ew [type = text],[type = password]{
  font-size: 2vw;
  margin-top: 50px; /* ここのせいで青い枠出る */
  width: 300px;
  border-bottom:1px solid #001E43;
  border-right:none;
  border-left:none;
  border-top:none;
  outline: none;
}


.btn-border {
  margin-top:50px;
  border: 2px solid #001E43;
  background: #fff;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 110px;
  padding-right: 110px;
  text-decoration: none;
  color: #001E43;
}

.btn-border:hover {
  color: #fff;
  background: #001E43;
}

.entry{
  border: 2px solid #001E43;
  background: #fff;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  color: #001E43;
}

.new{
  margin: 80px;
}
