* {
  color: #000;
}


*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}




.login{
  border:1px solid #737373;
  border-width: 3px;
  background: #fff;
  border-radius: 50px 50px;
}

.login{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 750px;
  height: 500px;
  text-align: center
}

h1{
  margin-top: 30px;
  font-size: 50px;
}



.ew [type = text],[type = password]{
  font-size: 2vw;
  margin-top: 50px;
  width: 500px;
  border-bottom:1px solid #737373;
  border-right:none;
  border-left:none;
  border-top:none;
  outline: none;
}


.btn-border {
  margin-top:50px;
  border: 2px solid #000;
  background: #000;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 210px;
  padding-right: 210px;
  text-decoration: none;
  color: #fff;
  border-radius: 50px 50px;
}

.btn-border:hover {
  color: #000;
  background: #fff;
}

.entry{
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
}

.new{
  text-decoration: underline;
  margin: 50px;
}


@media screen and (max-width: 700px) {


  .login{
    border:1px solid #737373;
    border-width: 1px;
    background: #fff;
    border-radius: 50px 50px;
  }

  .ew [type = text],[type = password]{
    font-size: 7vw;
    margin-top: 70px;
    width: 300px;
    border-bottom:1px solid #737373;
    border-right:none;
    border-left:none;
    border-top:none;
    outline: none;
  }


  .btn-border {
    margin-top:100px;
    border: 2px solid #000;
    background: #000;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 110px;
    padding-right: 110px;
    text-decoration: none;
    color: #fff;
  }

  .new{
    text-decoration: underline;
    margin: 50px;
  }
}