header{
  display: flex;
  width: 98vw;
  border-bottom: 3px solid #fff5e0;
  padding: 10px;
}
.header-L{
  width: 20%;
}
.header-center{
  width: 50%;
}
.header-R{
  width: 30%;
}
.header-R p{
  text-align: center;
}
.topmenu-a{
  /* border: 1px solid black; */
  width: 70vw;
  margin: 20px auto;
  padding: 20px;
  background-color: #e3dfdc;
}
ul{
  list-style: none;
}
.topmenu-a:hover{
  background-color: #fff5e0;

}
.fa-home,.fa-arrow-alt-circle-left{
  font-size: 30px;
  color: #1a0b08;
}
.topmenu{
  margin-top: 30px;
}
main{
  width: 80vw;
  margin: 20px auto;
}
.marchandise-u{
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: rgb(223, 218, 211);
}
.marchandise-yen::before{
  content: "¥";
  font-size: 16px;
}
.marchandise-table{
  width: 100%;
  margin-top: 40px;
}
.marchandise-table a{
  padding: 5px;
}
.marchandise-table a:hover{
  background-color: rgb(223, 218, 211);
  opacity: 0.6;
  transition: background-color 0.5s
}
.marchandise-flg,.marchandise-table-u,.marchandise-d{
  width: 8%;
}
.marchandise-table-name{
  width: 60%;
}
.noaccount{
  display: block;
  width: auto;
  height: 400px;
  margin: 30px auto;
}
/* 使い回しできるボタン */
.commonButton{
   display: block;
  background-color: #e3dfdc;
  width: 70vw;
  padding: 10px;
  margin: 20px auto;
  color: #1a0b08;
  text-align: center;
}
.commonButton:hover{
  background-color: #fff5e0;

}